@import "./reset";
$maingap:20px;
.pop_wrap,
dialog{width:var(--width);padding:$maingap;margin:auto;border:none;box-shadow: 1.4px 1.4px 29px 0 rgba(0, 0, 0, 0.08);font-size:13px;z-index:1000;
  .p_header{@include tit(){h1{font-size:15px;color:$periwinkle;font-size:20px;}};border-bottom:2px solid $periwinkle;padding-bottom:10px;
    .btn_close{@include ico_only('\eb2e');cursor:pointer;margin-left:$maingap;
      &::before{font-size:16px;color:#000;};
    }
  }
  .p_body{max-height:calc(100vh - 240px);overflow-y:auto;font-size:13px;letter-spacing:-0.33px;}
  .p_foot{display:flex;justify-content: flex-end;align-items: center;gap:3px;margin-top:8px;
    button{line-height:32px;padding:0 22px;}
  }
  &::backdrop{background:rgb(190 190 190 / 50%);}
}
.pop_wrap .p_body{max-height:none;}
.line_style{
  .p_header{border-bottom:2px solid $blue;padding-bottom:10px;margin-bottom:20px;
    h1{font-size:22px;}
    .btn_close::before{font-size:20px;}
  }
  .p_foot{margin-top:40px;}
}
.ipt_filter{display:flex;background-color:$lightpurple;padding:5px;margin-bottom:10px;
  ul{display:flex;gap:15px;}
  li{display:flex;gap:5px;align-items:center;}
  .label,label{color:$blue;font-weight:600;
    &::before{content:"·";margin-right:5px;}
  }
}
.p_forecast{left:auto;right:-123px;top:46px;
  $border-color:#d0cdcd;
  .tbl_wrap{display:flex;border:1px solid #a2acc8;border-radius:5px;padding:10px 13px 20px;}
  .tbl_scroll_x{flex:1;overflow-x:auto;padding-top:28px;}
  .head{flex:0 0 36px;margin-top:28px;
    th{width:36px;font-size:12px;color:#000;border-right:1px solid $border-color;}
    tr:nth-child(1){height:47px;}
    tr:nth-child(2){height:114.5px;}
    tr:nth-child(3){height:83px;}
    tr:nth-child(4){height:106px;}
    tr:nth-child(5){height:74px;}
  }
  .tbl_weather{width:100%;table-layout:fixed;text-align:center;
    tr{border-top: 1px solid $border-color;}
    td{width:46px;font-size:11px;font-weight:700;color:#686868;padding:15px 0;}   
    td:first-of-type{width:56px;padding-left:10px;}
    tr:first-child {border-top-width:0;padding:0;}
    .times td{position:relative;
      &[data-date]::after{top:-15px;content:attr(data-date);font-size:11px;line-height:18px;font-weight:700;border:1px solid #275aec;border-radius:9px;width:56px;text-align:center;background-color:#fff;}
      &[data-date]::before{position:absolute;top:3px;left:50%;@include shape(0, 0);border-right:5px solid transparent;border-left:5px solid transparent;border-top:8px solid #275aec;}
      &::before,
      &::after{position:absolute;left:50%;transform:translateX(-50%);}
    }
    @property --p{
      syntax: '<number>';
      inherits: true;
      initial-value: 1;
    }
    .precipitation td{position:relative;
      i{ --p:calc(var(--val)*-1% + 100%);
        position:relative;@include shape(21px,21px);display:block;margin:7px auto;background:#f0f3ff;border-radius:0 95% 45% 50% / 0 50% 45% 95%;transform:rotate(45deg);
      &::before{position:absolute;bottom:0;left:0;@include shape(100%,27px);background-color:#5e8cff;transform:rotate(-45deg) translate(-10%,var(--p));}
      }
      color:#5e8cff;font-weight:normal;
    }
    .humidity td{
      p{display:flex;flex-direction:column;justify-content:flex-end;height:60px;margin-top:15px;
        --p:calc(var(--val)*1%);
        &::after{flex-shrink:0;@include shape(calc(100% - 1px),var(--p));; border-top:3px solid #45ccfb;background-color:#c5f0ff;}
      }
    }
    .temp td{padding-bottom:0;
      .chart_wrap{height:53px;}
      }
    .weathers{border-top-color:transparent;
      i{@include shape(24px,24px);background-position:50%;background-size:contain;}
      td{padding-top:0;}
    }
    .winds td{
      i{@include shape(14px,19px);display:block;background:url(../images/weather/img_weather_wind.png) 50% / contain no-repeat;margin:0 auto;}
      @for $i from 1 to 9{
        .wind#{$i}{transform: rotate($i * 45deg);}
      }
      color:#5e8cff;
    }
  } 
}
.chat_wrap{display:flex;flex-direction:column;align-items:flex-end; gap:20px;height:calc(100vh - 202px);overflow-y:auto;padding-bottom:20px;scrollbar-width:none;&::-webkit-scrollbar {width:0;}
  .box_purple{margin-left:50px;align-self:start;
    em{margin-bottom:5px;}
    .dot_lst{margin-top:20px;}
  } 
  @mixin chatBox($txt:default,$color:$periwinkle){position:relative;border:1px solid #ddd;border-radius:20px;padding:10px 15px;background-color:#f5f5fb;text-align:right;margin-right:50px;
    strong{color:$periwinkle;
      &+p{margin-top:5px;}
    }
    @if $txt != default{
    &::before{position:absolute;@include shape(34px,34px);content:$txt;background-color:$color;color:#fff;border-radius:50%;font-size:20px;font-weight:800;text-align:center;line-height:34px;top:-10px;}
    }
  }
  .chat_q{@include chatBox('Q',#000);border-top-left-radius:0;margin-left:50px;align-self:start;background-color:#fff;text-align:left;
    &::before{left:-50px;}
  }
  .chat_a{@include chatBox('A');border-top-right-radius:0;
    &::before{right:-50px;}
  }
  .chat_end{@include chatBox();border-top-right-radius:0;}
}
.p_situation_report .ipt_area{border:1px solid #adadad;padding:15px;text-align:right;
  [contenteditable]{@include ipt_common;padding:10px;margin-bottom:10px;white-space:nowrap;text-align:left;}
}
[data-empty]:empty::before{content:attr(data-empty);color:$gray;}